# Build artifacts
/sonobuoy
build/

# we output results to this directory by default
/archive

# Development manifest
examples/dev.yaml

# Unencrypted credentials
heptio-images-ee4b0474b93e.json

# Dynamic Dockerfiles
Dockerfile-amd64
Dockerfile-arm64