# Build artifacts
/sonobuoy
build/
.DS_Store
.vscode

# we output results to this directory by default
/archive

# Development manifest
examples/dev.yaml

# Unencrypted credentials
heptio-images-c14f11347d8b.json

# Dynamic Dockerfiles
Dockerfile-amd64
Dockerfile-arm64
DockerfileWindows-amd64

# Images or results that may get downloaded
*.tar.gz
*.tar

# kind is downloaded for testing in CI
kind

# coverage profile
coverage.txt

# Jekyll compiled data
site/_site
site/.sass-cache
site/.jekyll
site/.jekyll-metadata
site/.bundle