image: REGISTRY/sonobuoy:TAG
manifests:
  -
    image: REGISTRY/sonobuoy-amd64:TAG
    platform:
      architecture: amd64
      os: linux
  -
    image: REGISTRY/sonobuoy-arm64:TAG
    platform:
      architecture: arm64
      os: linux
  -
    image: REGISTRY/sonobuoy-mips64le:TAG
    platform:
      architecture: mips64le
      os: linux
WIN_ONLY  -
WIN_ONLY    image: REGISTRY/sonobuoy-win-amd64:TAG
WIN_ONLY    platform:
WIN_ONLY      architecture: amd64
WIN_ONLY      os: windows
