---
layout: default
id: home
backgrounds:
  case_study: green
  team: dark-blue
hero:
  banner: /img/heroes/sonobuoy.png
  headline: Validate your Kubernetes configuration
  content: Sonobuoy is a diagnostic tool that makes it easier to understand the state of a Kubernetes cluster by running a choice of configuration tests in an accessible and non-destructive manner.
  cta_link1:
    text: Get Started with Sonobuoy
    url: /docs/latest
  cta_link2:
    text: Download Latest Release
    url: https://github.com/heptio/sonobuoy/releases/latest
  promo1:
    icon: /img/testing-icon.svg
    #url: http://www.example.com?box1
    title:  Conformance Testing
    content: Ensure that a cluster is properly configured and that its behavior conforms to official Kubernetes specifications.
  promo2:
    icon: /img/debug-icon.svg
    #url: http://www.example.com?box2
    title: Workload Debugging
    content: Easily generate diagnostics for troublesome workloads that are difficult to debug.
  promo3:
    icon: /img/test-icon.svg
    #url: http://www.example.com?box3
    title: Custom Tests and Data Collection
    content: Create plug-ins to test any custom configuration or use a variety of community plug-ins.
secondary_ctas:
  cta1:
    title: An Introduction to Sonobuoy
    url: /Sonobuoy-101/
    content: Read an overview of the Sonobuoy project, including key use cases and how to get involved.
  cta2:
    title: Learn how Sonobuoy is used for CNCF Certification
    url: https://www.cncf.io/certification/software-conformance/
    content: See a project that displays the Certified Kubernetes logo? Learn about the Cloud Native Computing Foundation’s vendor certification program and how Sonobuoy is the underlying technology to support the program.
#reference:
#  title: Getting Sonobuoy
#  content: Lorem ipsum dolor sit amet....
#  links: 
#    ISO: http://www.example.com
#    OVA: http://www.example.com
#    Amazon Machine Image: http://www.example.com
#    Google Compute Engine Image: http://www.example.com
#    Azure VHD: http://www.example.com
---
<div class="home-hero bg-color-{{ site.hero.background-color }}" style="background-image: url('{{ page.hero.banner }}')">
  <div class="section">
    <div class="section-content">
      <div class="hero-content">
        <h1 class="mb-3">{{ page.hero.headline }}</h1>
        <p>{{ page.hero.content }}</p>        
      </div>
      <div class="hero-cta mt-4">
        <a href="{{ page.hero.cta_link1.url }}" class="btn btn-primary mb-3 mb-sm-0">{{ page.hero.cta_link1.text }}</a>
        <a href="{{ page.hero.cta_link2.url }}" class="btn btn-outline-light">{{ page.hero.cta_link2.text }}</a>
      </div>
    </div>
  </div>
</div> <!-- /home-hero -->
<div class="section section-card section-card-offset-top promo-cards">
  <div class="section-content">
    <div class="row">
      <div class="col-md">
        <div class="card card-light mb-3 mb-md-0 shadow-sm">
          <div class="card-body match-height">
            <figure>
              <img src="{{ page.hero.promo1.icon }}" alt="{{ page.hero.promo1.title }}" />
            </figure>
            {% if page.hero.promo1.url | size > 0 %}
            <h5><a href="{{ page.hero.promo1.url }}" class="dark">{{ page.hero.promo1.title }}</a></h5>
            {% else %}
            <h5>{{ page.hero.promo1.title }}</h5>
            {% endif %}
            <p>{{ page.hero.promo1.content }}</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card card-light mb-3 mb-md-0 shadow-sm">
          <div class="card-body match-height">
            <figure>
              <img src="{{ page.hero.promo2.icon }}" alt="{{ page.hero.promo2.title }}" />
            </figure>
            {% if page.hero.promo2.url | size > 0 %}
            <h5><a href="{{ page.hero.promo2.url }}" class="dark">{{ page.hero.promo2.title }}</a></h5>
            {% else %}
            <h5>{{ page.hero.promo2.title }}</h5>
            {% endif %}
            <p>{{ page.hero.promo2.content }}</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card card-light mb-3 mb-md-0 shadow-sm">
          <div class="card-body match-height">
            <figure>
              <img src="{{ page.hero.promo3.icon }}" alt="{{ page.hero.promo3.title }}" />
            </figure>
            {% if page.hero.promo3.url  | size > 0 %}
            <h5><a href="{{ page.hero.promo3.url }}" class="dark">{{ page.hero.promo3.title }}</a></h5>
            {% else %}
            <h5>{{ page.hero.promo3.title }}</h5>
            {% endif %}
            <p>{{ page.hero.promo3.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-grey">
  <div class="section-content">
    <div class="row bg-grey">
      <div class="col-sm-5 mb-3 mb-sm-0">
        <h6 class="mb-1">
          <a href="{{ page.secondary_ctas.cta1.url }}">{{ page.secondary_ctas.cta1.title }}</a>
        </h6>
        <p class="mb-0">{{ page.secondary_ctas.cta1.content }}</p>
      </div>
      <div class="col-sm-5 offset-sm-2">
        <h6 class="mb-1">
          <a href="{{ page.secondary_ctas.cta2.url }}">{{ page.secondary_ctas.cta2.title }}</a>
        </h6>
        <p class="mb-0">{{ page.secondary_ctas.cta2.content }}</p>
      </div>
    </div>
  </div>
</div>

<!--
<div class="section pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col">
          <h2 class="text-center">{{ page.reference.title }}</h2>
          <p>{{ page.reference.content }}</p>
  
          <ul>
            {% for link in page.reference.links %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
--> 

<div class="section">
  <div class="section-content">
    <div class="row">
      <div class="col">
        <h2>Features</h2>
      </div>          
    </div>
    {% assign limit = 3 %}
    {% include case-studies-alternating.html %}
  </div>
</div>

<div class="section pt-3">
  <div class="section-content">
    <div class="row">
      <div class="col">
        <h2>Blog Highlights</h2>        
      </div>
    </div>
    {% assign limit = 3 %}
    {% include blog-posts.html %}
    <div class="row pt-5">
      <div class="col text-center">
        <a href="/blog" class="btn btn-secondary btn-sm">See All Posts</a>
      </div>
    </div>
  </div>
</div>

<div class="section section-background-{{ page.backgrounds.team }}">
  <div class="section-content">
    {% include contributors.html %}
  </div>
</div>