<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/testing-icon.svg" />
				<h3>Conformance Testing</h3>
				<p>Ensure that a cluster is properly configured and that its behavior conforms to official Kubernetes specifications.</p>
			</div>
			<div class="card">
				<img src="/img/debug-icon.svg" />
				<h3>Workload Debugging</h3>
				<p>Easily generate diagnostics for troublesome workloads that are difficult to debug.</p>
			</div>
			<div class="card">
				<img src="/img/test-icon.svg" />
				<h3>Custom Tests and Data Collection</h3>
				<p>Create plug-ins to test any custom configuration or use a variety of community plug-ins.</p>
			</div>
		</div>
	</div>
</div>