<div class="wrapper use-cases">
    <h2>Features</h2>
    <div class="grid two">
        <div class="col image">
            <img src="/img/case-study-icons/case-study-1.svg" />
        </div>
        <div class="col text">
            <p class="strong">Cluster agnostic</p>
            <p>Run Sonobuoy on any Kubernetes cluster. Sonobuoy officially supports the latest three minor versions of Kubernetes.</p>
        </div>
    </div>
    <div class="grid two image-right">
        <div class="col text">
            <p class="strong">Enabled on air-gapped clusters</p>
            <p>In air-gapped deployments where there is no access to the public Docker registries, Sonobuoy supports running end-to-end tests with custom registries.</p>
        </div>
        <div class="col image">
            <img src="/img/case-study-icons/case-study-2.svg" />
        </div>
    </div>
    <div class="grid two">
        <div class="col image">
            <img src="/img/case-study-icons/case-study-3.svg" />
        </div>
        <div class="col text">
            <p class="strong">Extensible via plugins</p>
            <p>Plugin support allows developers and operators to extend the system with additional tests.</p>
        </div>
    </div>
</div>