{{ define "main" }}
	<main>
		{{ partial "hero.html" . }}
		{{ partial "homepage-grid.html" . }}
		<div class="bg-grey introduction">
			<div class="wrapper grid two">
				<div class="col">
					<p class="strong"><a href="/sonobuoy-101/">An Introduction to Sonobuoy</a></p>
					<p>Read an overview of the Sonobuoy project, including key use cases and how to get involved.</p>
				</div>
				<div class="col">
					<p class="strong"><a href="https://www.cncf.io/certification/software-conformance/">Learn how Sonobuoy is used for CNCF Certification</a></p>
					<p>See a project that displays the Certified Kubernetes logo? Learn about the Cloud Native Computing Foundation’s vendor certification program and how Sonobuoy is the underlying technology to support the program.</p>
				</div>
			</div>
		</div>
		{{ partial "use-cases.html" . }}
		{{ partial "blog-highlights.html" . }}
                {{ partial "team.html" . }}
	</main>
{{ end }}
