name: CI Lint and Sync
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint run
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.50
          skip-pkg-cache: true
          skip-build-cache: true -h
          args: --timeout=2m0s -v --disable staticcheck
  bash-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Shellcheck
        uses: azohra/shell-linter@v0.6.0
        with:
          severity: "error"
  go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: go mod tidy
        run: |
          ./scripts/ci/check_go_modules.sh
  sync-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: sync readme
        run: |
          ./scripts/ci/check_readme_in_sync.sh
